body{
    background-color: #5CDB95;
}

#navbar{
    background-color: #05386B;
}

.my-cards {
    background-color: #EDF5E1;
}

.bd-tabla-color {
    background-color: #EDF5E1;
}

#img-uniandes {
    display: block;
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
} 

#img-escudo-csc {
    display: block;
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
}

#img-elc {
    display: block;
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
}

#img-cambridge {
    display: block;
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
}