html, body, header {
    height: 100%;
    width:100%;
}

#navbar {
    background-color: #05386B;
    color: white;
}

main {
    /*position: relative;*/
    /*overflow-y: scroll;*/
    /*height: 100%;*/
}

.my-header {
    background: url("../images/header.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#welcome-message {
    font-size: 100px;
}

footer {
    background-color: #05386B;
    color: white;
    padding: 1%;
    /*position: static;*/
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 70px;
}

h2 {
    font-family: 'Lobster', cursive;
}

h5 {
    font-family: 'Lexend Deca', sans-serif;
}

.my-h3 {
    font-family: 'Lobster', cursive;
}

.hobbies-h2 {
    font-family: 'Dancing Script', cursive;
}

p {
    font-family: 'Hind', sans-serif;
}

#brand {
    font-family: 'Lobster', cursive;
}

.list-group-item{
    background-color: #EDF5E1;
}

.content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.carousel-item-info {
    background-color:rgba(105,105,105,0.5);
}

#quien-soy-yo-section {
    background-color: #ff9800;
    padding-top: 3%;
    padding-bottom: 3%;
}

#contact-info-videos-section {
    /*background-color: #ff9800;*/

}

#contact-info-section {
    background-color: #ff5722;
    padding-top: 3%;
    padding-bottom: 3%;
}

#videos-section {
    background-color: #ff8a65;
    padding-top: 3%;
    padding-bottom: 61px;
}

#academic-section {
    background-color: #5CDB95;
    padding-bottom: 5%;
}

#skills-section {
    background-color: #80cbc4;
    padding-top: 3%;
    padding-bottom: 3%;
}

#hobbies-section {
    background-color: #EDF5E1;
    padding-top: 3%;
    padding-bottom: 5%;
}

#projects-section {
    padding-top: 3%;
    /*background-color: #379683;*/
    padding-bottom: 3%;
}

#home {
    background: url(images/mountain.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.my-button {
    background-color: #05386B;
    color: white;
}

.my-list {
    max-height: 200px;
    overflow: auto;
}

.my-cards {
    background-color: #EDF5E1;
    text-align: justify;
}

.bd-tabla-color {
    background-color: #EDF5E1;
}

#img-uniandes {
    display: block;
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
}

#img-escudo-csc {
    display: block;
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
}

#img-elc {
    display: block;
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
}

#img-cambridge {
    display: block;
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
}

#img-superandes {
    display: block;
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
    margin-top: 10%;

}
#img-wallet {
    display: block;
    max-width: 45%;
    height: 45%;
    margin: 0 auto;
    margin-top: 10%;
}

#img-car {
    display: block;
    max-width: 40%;
    height: 40%;
    margin: 0 auto;
    margin-top: 5%;
}

#img-taxi {
    display: block;
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
}

#img-biblio {
    display: block;
    max-width: 40%;
    height: 40%;
    margin: 0 auto;
    margin-top: 10%;
}

#img-atpos {
    display: block;
    max-width: 45%;
    height: 45%;
    margin: 0 auto;
    margin-top: 10%;
}

#img-encryption {
    display: block;
    max-width: 45%;
    height: 45%;
    margin: 0 auto;
    margin-top: 10%;
}

#img-java {
    display: initial;
    max-width: 100%;
    height: auto;
}

#img-python {
    display: initial;
    max-width: 100%;
    height: auto;
    padding: 20%;
}

#img-cpp {
    display: initial;
    max-width: 100%;
    height: auto;
    padding: 20%;
}

#img-sql {
    display: initial;
    max-width: 100%;
    height: auto;
    padding-top: 16%;
    padding-bottom: 16%;
}

#img-ts {
    display: initial;
    max-width: 100%;
    height: auto;
    padding: 13%;
}

#img-js {
    display: initial;
    max-width: 100%;
    height: auto;
    padding: 13%;
}

#img-ruby {
    display: initial;
    max-width: 100%;
    height: auto;
    padding: 15%;
}

#img-git {
    display: initial;
    max-width: 100%;
    height: auto;
    padding: 15%;
}

#img-aws {
    display: initial;
    max-width: 100%;
    height: auto;
    padding: 15%;
}

#img-django {
    display: initial;
    max-width: 100%;
    height: auto;
    padding-top: 26%;
    padding-bottom: 26%;
}

#img-angular {
    display: initial;
    max-width: 100%;
    height: auto;
    padding: 15%;
}

#img-android {
    display: initial;
    max-width: 100%;
    height: auto;
    padding: 20%;
}

#img-rails {
    display: initial;
    max-width: 100%;
    height: auto;
    padding: 15%;
}