html, body, header {
    height: 100%;
    width:100%;
}

.my-header {
    background: url("../images/header.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer {
    background-color: #05386B;
}

#navbar {
    background-color: #05386B;
}

.content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

#quien-soy-yo-section {
    background-color: #8EE4AF;
    padding-top: 3%;
    padding-bottom: 3%;
}

#contact-info-section {
    background-color: #8EE4AF;
    padding-bottom: 3%;
}

#academic-section {
    background-color: #5CDB95;
    padding-bottom: 5%;
}

#abilities-section {
    background-color: #5CDB95;
}

#hobbies-section {
    background-color: #5CDB95;
}

#projects-section {
    padding-top: 3%;
    /*background-color: #379683;*/
    padding-bottom: 3%;
}

#home {
    background: url(images/mountain.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.my-button {
    background-color: #05386B;
    color: white;
}

.my-cards {
    background-color: #EDF5E1;
    text-align: justify;
}

.bd-tabla-color {
    background-color: #EDF5E1;
}

#img-uniandes {
    display: block;
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
}

#img-escudo-csc {
    display: block;
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
}

#img-elc {
    display: block;
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
}

#img-cambridge {
    display: block;
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
}

#img-superandes {
    display: block;
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
    margin-top: 10%;

}
#img-wallet {
    display: block;
    max-width: 45%;
    height: 45%;
    margin: 0 auto;
    margin-top: 10%;
}

#img-car {
    display: block;
    max-width: 40%;
    height: 40%;
    margin: 0 auto;
    margin-top: 5%;
}

#img-taxi {
    display: block;
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
}

#img-biblio {
    display: block;
    max-width: 40%;
    height: 40%;
    margin: 0 auto;
    margin-top: 10%;
}

#img-atpos {
    display: block;
    max-width: 45%;
    height: 45%;
    margin: 0 auto;
    margin-top: 10%;
}

#img-encryption {
    display: block;
    max-width: 45%;
    height: 45%;
    margin: 0 auto;
    margin-top: 10%;
}